@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    border: 1px solid red;
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
    }

    .left {
        text-align: center;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    height: 100vh;
    /* justify-content: center; */
}

main {
    display: flex;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    /* width: 100%; */
    margin: 1em;
}

.left {
    /* padding: 1em; */
    margin: auto;
    padding-right: 1rem;
}

.left h1 {
    font-size: 2em;
    line-height: 1.1;
    max-width: 30rem;
}

.left p {
    max-width: 35rem;
}

.right {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.right div {
    background-color: hsl(248, 32%, 49%);
    padding: 1.2rem;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 2px 8px rgba(22, 22, 22, 0.164);
}

.right h4 {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
}

.right h4 span {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 2rem;
    justify-content: space-between;
    gap: 1em;
    border-radius: 10px;
    box-shadow: 3px 6px rgba(22, 22, 22, 0.295);
}

form input {
    height: 4em;
    padding-left: 25px;
    border-radius: 10px;
    font-weight: 600;
    border-color: hsl(246, 25%, 77%);
}

button {
    background-color:hsl(154, 59%, 51%);
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8rem;
}

form p {
    color: hsl(246, 25%, 77%);
    font-size: 0.6rem;
    text-align: center;
    margin-top: 0;
}

form a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;
}