@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    margin: auto;
    height: 100vh;
}

main {
    display: flex;
    width: 80%;
    margin: auto;
}

.container {
    display: flex;
    width: 100em;
    height: 80vh;
    align-items: center;
}

.left {
    width: 50%;
    padding: 2em;
}

.left h1 {
    font-size: 3rem;
    line-height: 1.1;
}

.right {
    width: 50%;
}

.right div {
    background-color: hsl(248, 32%, 49%);
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 8px rgba(22, 22, 22, 0.164);
}

.right h4 {
    text-align: center;
    font-weight: 400;
}

.right h4 span {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 40px;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 3px 6px rgba(22, 22, 22, 0.295);
}

form input {
    height: 4em;
    padding-left: 20px;
    border-radius: 10px;
    font-weight: 600;
}

button {
    background-color:hsl(154, 59%, 51%);
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
}

form p {
    color: lightgrey;
    font-size: smaller;
    text-align: center;
    margin-top: 0;
}

form a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;
}